__pycache__/
.python-version
.idea/
db.sqlite3
.idea/workspace.xml
*/__pycache__/*

blog/__pycache__/
djangogirls2/__pycache__/settings.cpython-37.pyc
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

*.pyc

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/


# Django stuff:
*.log
local_settings.py
db.sqlite3